

body{
  background-color: rgb(90, 212, 173); 
}

span{
 
  background-color: rgb(28, 233, 62);
  width: 200px;
  height: 200px;
  border: 10px solid blue;
  padding-top: 8px;
  padding-right: 80px;
  padding-bottom: 120px;
  padding-left: 40px;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
  margin-left: 10px;
}

div{
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border: 10px solid blue;
  padding-top: 8px;
  padding-right: 80px;
  padding-bottom: 120px;
  padding-left: 40px;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
  margin-left: 10px;
}

